﻿textarea {
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    font-size: 12px;
}

td {
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    font-size: 14px;
	font-weight: 700;
}

select {
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    font-size: 12px;
}

label {
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    font-size: 12px;
}

input {
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    font-size: 12px;
}

button {
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    font-size: 12px;
}

body {
    font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
    font-size: 12px;
}

input  {
    border: 1px solid rgb(189, 199, 216);
    margin: 0px;
    padding: 3px;
}

textarea  {
    border: 1px solid rgb(189, 199, 216);
    margin: 2px;
    padding: 3px;
    background-color:rgb(247, 247, 247);
    width: 100%; 
    border: 1px solid rgb(189, 199, 216);
}
.button {width: 100%; height:20px; border: 1px solid;
    border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 3px; -webkit-background-clip:padding-box;
    -moz-box-shadow: 0px 1px 1px rgba(210,210,210,1);
    color: #fff; cursor: pointer;
    font-size: 16px; font-weight:bold; line-height: 20px; text-align: center;
  }

    .rtable {
    -moz-border-radius: 11px;
    -khtml-border-radius: 11px;
    -webkit-border-radius: 11px;
    border-radius: 15px;
    border: 1px solid #e5e5e5;
    padding: 2px 2px 2px 2px;
    top: 0px;
    left: 0px;
    background-color:rgb(247, 247, 247);
    width: 100%;
    }

    .btns-main {
    border-color: #000000;
    background-color:#0000FF;
    background-image:-webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, rgb(136,158,203)),
    color-stop(0.01, rgb(97,127,189)),
    color-stop(0.5, rgb(76,105,166)),
    color-stop(0.51, rgb(70,99,161)),
    color-stop(1, rgb(60,90,153))
    );
    background-image:-moz-linear-gradient(
    center top,
    rgb(0,0,102) 0%,
    rgb(0,0,130) 1%,
    rgb(0,0,150) 50%,
    rgb(0,0,120) 51%,
    rgb(0,0,0) 100%
    );
    }


.txtClrWhite a {color: #FFFFFF;}
.txtClrWhite a:hover {color: #FFFFFF;}
.txtClrWhite a.active {color: #FFFFFF;}

.txtClrBlack a {color: #000000;}
.txtClrBlack a:hover {color: #000000;}
.txtClrBlack a.active {color: #000000;}

.txtClrNrml a {color: #0000A0;}
.txtClrNrml a:hover {color: #0000A0;}
.txtClrNrml a.active {color: #0000A0;}

.txtClrHdr a {color: #005B5B;}
.txtClrHdr a:hover {color: #005B5B;}
.txtClrHdr a.active {color: #005B5B;}

.txtClrDrkGrn a {color: #005B5B;}
.txtClrDrkGrn a:hover {color: #005B5B;}
.txtClrDrkGrn a.active {color: #005B5B;}


.txtClrGrey a {color: #808080;}
.txtClrGrey a:hover {color: #808080;}
.txtClrGrey a.active {color: #808080;}


.txtClrLtBlue a {color: #ECECFF;}
.txtClrLtBlue a:hover {color: #ECECFF;}
.txtClrLtBlue a.active {color: #ECECFF;}


.txtDecorNone a {text-decoration: none;} 
.txtDecorNone a:hover {text-decoration: none;}
.txtDecorNone a.active {text-decoration: none;}

.txtDecorUline a {text-decoration: underline;}
.txtDecorUline a:hover {text-decoration: underline;}
.txtDecorUline a.active {text-decoration: underline;}

.bkgdWhite {background-color: #FFFFFF;}
.bkgdDarkBlue {background-color: #666699;}
.bkgdClrNrml {background-color: #ECECFF;}
.bkgdClrHdr {background-color: #005B5B;}
.bkgdClrTtl {background-color: #FFF4EA;}
.bkgdClrWhite {background-color: #FFFFFF;}
.brdrDarkBlue {border: 1px solid #666699;}
.brdrBlack {border: 1px solid #000000;}
.brdrGrey {border: 1px solid #808080;}
.brdrClrHdr {border: 1px solid #005B5B;}
.brdrClrNrml {border: 1px solid #ECECFF;}
.brdrClrTtl {border: 1px solid #FFF4EA;}
.crsrPointer { cursor:pointer; }

.styleHidden {
display:none;
visibility:hidden;
}
